<div class="auth-container">
  <h2>{{ isLoginMode ? 'Logowanie' : 'Rejestracja' }}</h2>
  
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
      <div *ngIf="authForm.get('email')?.invalid && authForm.get('email')?.touched">
        Wprowadź poprawny adres email.
      </div>
    </div>

    <div>
      <label for="password">Hasło:</label>
      <input type="password" id="password" formControlName="password" />
      <div *ngIf="authForm.get('password')?.invalid && authForm.get('password')?.touched">
        Hasło musi mieć co najmniej 9 znaków, jedną wielką literę, cyfrę i znak specjalny.
      </div>
    </div>

    <button type="submit" [disabled]="authForm.invalid">
      {{ isLoginMode ? 'Zaloguj' : 'Zarejestruj' }}
    </button>
    <button type="button" (click)="onSwitchMode()">
      Przełącz na {{ isLoginMode ? 'Rejestrację' : 'Logowanie' }}
    </button>
  </form>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
