<header>
    <nav class="navbar">
        <div class="nav-title">Wordle Clone</div>
        <div class="nav-links">
            <a routerLink='/' class="nav-item">
                <i class="fa-solid fa-house"></i>
            </a>
            <a routerLink='/ranking' class="nav-item">
                <i class="fa-solid fa-ranking-star"></i>
            </a>
            <a routerLink='/instruction' class="nav-item">
                <i class="fa-solid fa-question-circle"></i>
            </a>
        </div>
    </nav>
</header>